body {
  background: linear-gradient(120deg, #f6d365, #fda085);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #333;
}

.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f1d3;
}

.history-content {
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.history-content h1 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  position: relative;
}

span {
  font-size: 40px;
  color: #ff8c00;
}

.history-content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin-right: 40px;
}

.about-text h1 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #000000;
}

.about-text p {
  max-width: 600px;
  padding: 20px;
  font-size: 18px;
  color: #000000;
  line-height: 1.8;
}

.about-image img {
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.about-image img:hover {
  transform: scale(1.1);
}

.icons {
  position: fixed;
  top: 50%;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons a {
  color: #333333;
  opacity: 0.8;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons a:hover {
  color: #000000;
  transform: scale(1.1);
}


